<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FashionGoals</title>
    <link rel="icon" href="../images/icon.ico">
    <link rel="stylesheet" href="../public/style.css">
    <link rel="stylesheet" href="../public/navbar.css">
    <link rel="stylesheet" href="../public/signUp.css">
</head>
<body>
    <div id="div1">
        <img src="../images/header.jpg " 
        class="full-width-image">
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li> 
            <li><a href="https://www.youtube.com/watch?v=HGTJBPNC-Gw" 
                target="blank">BroCode</a></li> 
        </ul>
    </nav>

    <p><b>Our website is not live yet, please sign up below to get notified. Thanks!</b></p>
    <div class="signup-area">
        <input id="name" type="text" name="name" placeholder="Enter your name" required autocomplete="on"><br>
        <input id="email" type="email" name="email" placeholder="Enter your email" required autocomplete="on"><br>
        <input id="Submit" type="submit" value="Sign Up">
    </div>
</body>

<script src="../scripts/index.js"></script>
</html>
